In [1]:
import pandas as pd
from matplotlib import pyplot as plt

In [3]:
weather_data = pd.read_csv('weather_data.csv')
weather_data.head()

,city,latitude (°N),longitude (°E),temperature (°F),humidity (%),cloudiness (%),wind speed (mph)
0,"Hambantota, LK",6.124913,81.124256,77.32,100,20,5.75
1,"Bagula, IN",23.333869,88.642096,84.90,74,100,3.18
2,"Airai, PW",7.359934,134.560115,79.20,83,75,4.61
3,"Tual, ID",-5.644309,132.741682,79.34,82,100,21.56
4,"Isla Vista, US",34.411513,-119.856213,80.08,59,74,4.18

In [14]:
weather_data.to_html(buf='data.html', encoding='utf-8')